* {font-family:fira_sanslight; margin:0; padding:0;}

.menu {
    background-color: #fff;
    opacity: .95;
    padding:20px;
    padding-right:0;
    padding-bottom:0;
    opacity: .90;
}

.filterBarNav {
    border-top:1px solid #dddddd;
    padding-top: 10px;
    padding-bottom:10px;
}

.content {margin-top:10px;}

.menu-padding {padding-top:40px;}

.content {padding:10px;}

.content p {margin-bottom:20px;}

.logo {
    width: 100%;
    height: 440px;
    background-image:url("splash.jpg");
    padding-top:30px;
}

.intro {
    background-image: url("Helix_Features_Component.png");
    margin: 0 auto;
    width: 480px;
    height: 390px;
    opacity: 1;
    padding-bottom:10px;
    position: relative;
}

.featureContent {
    position: absolute;
    bottom:0;
    left:0;
    background-color: #FFFFFF;
    width:480px;
    height:250px;
}

.featureTag {
    position: absolute;
    top:111px;
    left:167px;
    height:12px;
    width:150px;
    background-color: #FFF;
    color: #dddddd;
}

.well {height:200px;}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.EYlogo {padding-right:50px;}
.shortNav a {padding-right:20px; font-size: 12px;}


nav .form-group{float:right;}
.userProfileNav p {float:right; font-size: 12px;}

.featureTag p {
    font-family: fira_sansregular;
    color:#9d9d9d;
}